<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi registrada para você.</p>
<p>
  A encomenda já se encontra disponível para retirada.<br />
  Seguem abaixo as informações relevantes sobre a encomenda:<br />
  <strong>Descrição do produto: </strong> {{ product }} <br />
  <strong>Data/Hora recebida em nosso sistema: </strong> {{ date }} <br />
</p>
<p>
  As encomendas podem ser retiradas diariamente entre as 08:00 e 18:00.<br />
  Você pode retirar um total de 5 encomendas diariamente.<br />
  Caso tenha mais dúvidas, por favor acesse o aplicativo ou mande um e-mail para nosso suporte (suporte@fastfeet.com).
</p>
