<strong>Olá, {{ deliveryman }}</strong>
<p>Infelizmente a encomenda em sua posse foi cancelada em nosso sistema.</p>
<p>
  Seguem abaixo as informações da encomenda:<br />
  <strong>Descrição do produto: </strong> {{ product }} <br />
  <strong>Problema encontrado: </strong> {{ problem }}<br />
  <strong>Data/Hora do cancelamento recebido em nosso sistema: </strong> {{ date }} <br />
</p>
<p>
  Caso tenha mais dúvidas, por favor acesse o aplicativo ou mande um e-mail para nosso suporte (suporte@fastfeet.com).
</p>
